<!DOCTYPE html>
<html lang="fa" dir="rtl">
    {% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{%static 'css/login1.css' %}">
</head>
<body>

    <div class="container">
        <div class="welcome-section">
            
            <h1>خوش آمدید</h1>
            <p>لطفاً جهت دسترسی به پنل کاربری<br>اطلاعات خود را وارد کنید.</p>
            <br>
            <div class="links">
                    <span>اگر لازم به ورود ندارید؟ </span>
                    <a href="{%url 'home' %}">خانه </a>
                </div>
        </div>

        <div class="form-section">
            <div class="form-box">
            
                
                <h2>ورود به حساب</h2>
                <form  method="post" >
                    {% csrf_token %}
                    <div class="input-group">
                        {{form.username}}
                        <label>نام کاربری</label>
                    </div>
                    <div class="input-group">
                         {{form.password}}
                        <label>رمز عبور</label>
                    </div> 
                   <div class="links">
                    <span> رمز عبور را فراموش کردی؟</span>
                    <a href="{%url 'password_reset' %}">بازیابی رمز عبور</a>
                </div>
                   <br>
                    <button type="submit" class="btn">ورود</button>
                </form>
                <div class="links">
                    <span>حساب ندارید؟</span>
                    <a href="{%url 'signup' %}">ثبت نام</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>