{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{%static 'css/login.css' %}">
{% endblock head %}
{% block title %}ثبت نام{% endblock title %}
{% block body %}
<div class="d-flex justify-content-center mt-5" dir="rtl">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
        <form method="post">
            {% csrf_token %}
            <h3 class="text-center"> بازیابی رمز عبور با موفقیت انجام شد</h3>
            <br>
          <h5> ایمیلی به ایمیل شما اسال شد, لطفاً ایمیل خود را بررسی کنید </h5>
          <br><br>
                 <a href="{%url 'login' %}" class="navbar-brand mx-3">ورود</a>
                  <span>
                    یا
                  </span>
                  <a href="{%url 'signup' %}" class="navbar-brand mx-3">ثبت نام</a>
            <span>>>>>>></span>
            <a href="{%url 'home' %}" class="navbar-brand mx-2">خانه</a>
        </form>
    </div>

</div>

{% endblock body %}