<!DOCTYPE html>
<html lang="fa" dir="rtl">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{%static 'css/login1.css' %}">

</head>
<body>

    <div class="container">
        <div class="welcome-section">
            
            <h1>خوش آمدید</h1>
            <p>لطفاً جهت بازیابی رمز عبور<br>ایمیل خود را واد کنید و بعد از تایید<br>
                ایمیل خود را بررسی کنید و پیگیری کنید</p>
            <br>
            <div class="links">
                    <span>اگر لازم به بازیابی رمز ندارید؟ </span>
                    <a href="{%url 'home' %}">خانه</a>
                </div>
        </div>

        <div class="form-section">
            <div class="form-box">
            
                
                <h2>بازیابی رمز عبور</h2>
                <form  method="post" >
                    {% csrf_token %}
                    <div class="input-group">
                        {{form.email}}
                        <label>ایمیل برای بازیابی رمز عبور</label>
                    </div>
                     
                    <button type="submit" class="btn">بازیابی</button>
                </form>
                <div class="links">
                    <a href="{%url 'login' %}">ورود</a>
                    <span>یا</span>
                    <a href="{%url 'signup' %}">ثبت نام</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>