<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ثبت نام</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
     
     <link rel="stylesheet" href="{%static 'css/signup.css' %}">
</head>
<body>

    <div class="container">
        <div class="welcome-section">
            <h1>ایجاد حساب</h1>
            <p>برای ساخت حساب کاربری جدید<br>فرم مقابل را تکمیل نمایید.</p>
            <br>
            <div class="links">
                    <span>اگر لازم به ثبت نام ندارید؟</span>
                    <a href="{%url 'home' %}">خانه</a>
                </div>
        </div>

        <div class="form-section">
            <div class="form-box">
                <h2>ثبت نام</h2>
                <form method="post" >
                    {% csrf_token %}
                    <div class="input-group">
                        {{form.username}}
                        <label>نام کاربری</label>
                    </div>
                    <div class="input-group">
                        {{form.email}}
                        <label>آدرس ایمیل</label>
                    </div>
                    <div class="input-group">
                        {{form.password1}}
                        <label>رمز عبور</label>
                    </div>
                    <div class="input-group">
                        {{form.password2}}
                        <label>تایید رمز عبور</label>
                    </div>
                    <button type="submit" class="btn">ثبت نام</button>
                </form>
                <div class="links">
                    <span>حساب دارید؟</span>
                    <a href="{%url 'login' %}">ورود</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>  
