{% comment %} {% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{%static 'css/login.css' %}">
{% endblock head %}
{% block title %}حذف کتاب "{{kteb.title}}"{% endblock title %}
{% block body %}
<div class="d-flex justify-content-center mt-5" dir="rtl">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
        <form method="post">
            {% csrf_token %}
            <h1 class="text-center">حذف کتاب "{{kteb.title}}"</h1>
            <h4>آیا مطمئنی که کتاب "{{kteb.title}}" را حذف میکنی؟</h4>
            <br>
            <button type="submit" class="btn btn-danger mt-3 w-100">حذف</button>
           
        </form>
    </div>

</div>

{% endblock body %} {% endcomment %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    {% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حدف کتاب "{{kteb.title}}"</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{%static 'css/login1.css' %}">
</head>
<body>

    <div class="container">
        <div class="welcome-section">
            
            <h1>حدف کتاب "{{kteb.title}}"</h1>
            <p>چرا با حذف کتاب"{{kteb.title}}" برخود شدی؟
                <br>اگه کتاب را حذف کنید تازه این کتاب را<br>نمی توان برگرداند</p>
            <br>
            <div class="links">
                    <span>شاید از حذف کتاب پشیمان شدی؟</span>
                    <a href="{%url 'home' %}">خانه </a>
                </div>
        </div>

        <div class="form-section">
            <div class="form-box">
            
                
                <h2>حذف کتاب "{{kteb.title}}"</h2>
                <form  method="post" >
                    {% csrf_token %}
                    <div class="links">
                    <span>آیا از حذف کتاب "{{kteb.title}}" مطمئنی؟</span>
                    
                </div>
                   <br>
                    <button type="submit" class="btn">حذف</button>
                </form>
                <div class="links">
                    <span>از حذف کتاب منصرف شدی؟ </span>
                    <a href="{%url 'home' %}">خانه</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>